<div class="control">
  <h2>Editor Pagination</h2>
  <p>
    <label for="total-pages">Total Pages:</label>
    <input id="total-pages" type="number" [(ngModel)]="numTotalPages" />
  </p>

  <p>
    <label for="current-page">Current Page:</label>
    <input id="current-page" type="number" [(ngModel)]="numCurrentPage" />
  </p>

  <button
    class="btn-start"
    [ngClass]="{
      disabled: !numTotalPages || !numCurrentPage,
      'disabled-color': !numTotalPages || !numCurrentPage
    }"
    (click)="loadDataInPagination()"
  >
    Start
  </button>
</div>
<pagination [totalPages]="totalPages" [currentPage]="currentPage"></pagination>
