.control {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 500px;
  box-sizing: border-box;
  h2 {
    padding: 10px 0;
    text-align: center;
  }

  p {
    padding: 4px;
    label {
      color: #045466;
      width: 30%;
      display: inline-block;
      text-align: end;
    }
    input {
      margin: 0 7px;
      padding: 3px;
      box-sizing: border-box;
      background: #f9f9f9;
      border: solid #669bb66b 1px;
      border-radius: 10px;
      color: #015353;
    }
  }
  .btn-start {
    cursor: pointer;
    margin: 7px 0;
    color: #ececec;
    padding: 3px 15px;
    border: solid #24536c 1px;
    background: #445f77;
    border-radius: 5px;
    text-align: center;
    align-self: center;
  }
  .disabled-color {
    background-color: #bcc0c4;
    border: none;
  }
}
